body {
   font-family: 'Roboto', sans-serif;;
   margin: 0 auto;
   text-align: center;
}

h1, h2, h3 {
   color: rgb(39, 114, 232);
}

h1 {
   font-size: 64px;
}

h3 {
   font-size: 28px;
}

p {
   margin: 0;
}

.subheading {
   margin-top: -15px;
}

.card {
   height: 350px;
   width: 600px;
   margin: 75px auto;
   border: 1px solid black;
   border-radius: 10px;
   padding: 35px;
   touch-action: manipulation;
}

.card:hover {
   cursor: pointer;
}

.flashcard-word {
   padding: 120px;
}

.flashcard-info {
   text-align: left;
   padding: 15px;
   line-height: 20px;
}

/*mobile portrait mode*/
@media screen and (max-width: 414px) {
   h1 {
      font-size: 48px;
   }

   h3 {
      font-size: 22px;
   }

   .card {
      height: 370px;
      width: 340px;
      margin: 40px auto;
      padding: 0;
   }

   .flashcard-word {
      margin-top: 150px;
      padding: 0;
   }

   .flashcard-info {
      font-size: 14px;
      line-height: 14px;
      padding: 14px;
   }
}

/*mobile landscape mode*/
@media screen and (min-width: 415px) and (max-width: 812px) {
   h1 {
      font-size: 32px;
   }

   h3 {
      font-size: 18px;
   }

   .card {
      height: 210px;
      width: 450px;
      margin: 0 auto;
      padding: 0px;
   }

   .flashcard-word {
      font-size: 24px;
      margin-top: 80px;
      padding: 0px;
   }

   .flashcard-info {
      font-size: 14px;
      line-height: 14px;
      padding: 8px;
   }
}